*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
}

.navdownlist {
    border-top: 1px solid #e5e7ed;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #e5e7ed;
}

.dropdow {
    display: none;
    min-width: 350px;
}

.dropdow a {
    color: #636566;
}

.navdownlist .ss {
    position: relative;
}

.navdownlist .ss:hover {
    border-bottom: 2px solid #194276;
}

.box .box-image img {
    border-bottom: 1px solid transparent;
}

.box:hover .box-image img {
    /*padding-bottom: 10px;*/
    border-bottom: 1px solid #1875BC;
}

.box .box-image img:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    padding: 0 0 8px;
    width: 48px;
    border-bottom: 2px solid transparent;
}


.box:hover .box-image img:after {
    padding: 0 20px 8px;
    border-color: #1dbf73;
}

.navbar .blue {
    display: none;
}

.navbar .nav-menu-start .nav-item .nav-link {
    color: #fff;
    font-weight: 300;
}

.subcatigory .swiper {
    width: 100%;
    height: 100%;
}

.subcatigory .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.subcatigory .swiper-slide a img {
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.category-box  img,
.swiper-slide a img.service-image {
    width: 180px;
    height: 180px;
    margin: 0 auto 10px ;
}

.category-box a {
    position: relative;
    overflow: hidden;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
}

.category-box {
    width: 290px;
    height: 260px;
    margin-bottom: 20px;
    transition: all ease-in-out 300ms;
}

.category-box a {
    height: auto;
}

.category-box h4{
    z-index: 1;
    top: 0;
    left: 0;
    color: #194270;
    /*font-size: 27px;*/
    font-weight: 700;
    padding: 8px 20px;
    margin-bottom: 0;
    /* background-color: #194275a8; */
    width: 100%;
    text-align: center;
    height: 100% !important;
    /* position: absolute; */
    /* z-index: 1; */
    /* top: 5px; */
    /* left: 0; */
    /* color: #fff; */
    font-size: 25px;
    /* font-weight: 300; */
    /* padding: 16px; */
    /*box-shadow: 10px 10px 5px #aaaaaa;*/
    /* transition: 1s ease-in-out; */
    /* border-top: 1px solid transparent; */

}
@keyframes increase_image_size {
    0%   {transform: scale(0.8);}
    50%   {transform: scale(1);}
    100%   {transform: scale(0.9);}
    /*100%   {transform: scale(1.25);}*/
}

.category-box a:hover img  {
    /*box-shadow: none;*/
    transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /*transition: increase_image_size 1s ease-in-out;*/
    animation-name: increase_image_size;
    animation-duration: 1s;
    /*transition: opacity .3s ease-in-out;*/
    box-shadow: inset 0 0 160px #bfbfbf;


}

.category-box:hover {
    border-color: #0b5ed7;
}

.category-box a:hover h4 {
    color: #3d71ac;
    /* text-shadow: 0 1px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 5px 200px #a7a2a2; */

}

.subcatigory .swiper-slide a:hover h4  {
    /*transform: scale(1.2); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
    /*transition: 1.2s;*/
border-color: #c4d2e8;
    transition:  1s ease-in-out;
    box-shadow: none;


}


.subcatigory .swiper-slide a h4 small {
    font-size: 16px;
}
/*
.subcatigory .swiper-slide a img:hover {
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}*/

.subcatigory .swiper-button-next,
.subcatigory .swiper-button-prev {
    background: #fff;
    color: #1875bc;
    border-radius: 50%;
    padding: 24px;
    font-size: 10px;
     z-index: 99;
}

.subcatigory .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 25px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.subcatigory .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 25px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}


.subcatigory .landing-swiper .swiper-slide a {
    position: relative;
    overflow: hidden;
}
.subcatigory .landing-swiper .swiper-slide a h4 {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0;
    color: #194270;
    font-size: 27px;
    font-weight: 700;
    padding: 8px 20px;
    /* background-color: #194275a8; */
    width: 100%;
     text-align: center;
    box-shadow: inset 0px 0px 160px #aaa;
    height: 100%;
    /* position: absolute; */
    /* z-index: 1; */
    /* top: 5px; */
    /* left: 0; */
    /* color: #fff; */
    /* font-size: 25px; */
    /* font-weight: 300; */
    /* padding: 16px; */
    /*box-shadow: 10px 10px 5px #aaaaaa;*/

    /*text-align: left;*/
}
.subcatigory .landing-swiper .swiper-slide a h4:hover {
    /*transition:  1s ease-in-out;*/

    box-shadow: inset 0px 0px 160px #aaa;
    transition: opacity .3s ease-in-out;

}
@keyframes increase_image_size {
    0%   {transform: scale(1);}
    50%   {transform: scale(1.15);}
    100%   {transform: scale(1.2);}
    /*100%   {transform: scale(1.25);}*/
}

.subcatigory .landing-swiper .swiper-slide a:hover img   {
    /*box-shadow: none;*/
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /*transition: increase_image_size 1s ease-in-out;*/
    animation-name: increase_image_size;
    animation-duration: 1s;
    /*transition: opacity .3s ease-in-out;*/

}
.subcatigory .landing-swiper .swiper-slide a:hover h4  {
    /*transform: scale(1.2); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/
    /*transition: 1.2s;*/

    transition:  1s ease-in-out;
    box-shadow: none;


}


.subcatigory .landing-swiper .swiper-slide a h4 small {
    font-size: 16px;
}


.leftbar .active_main a {
    color: #323030;
    font-size: 24px;
}

.leftbar .listitem a {
    color: #5a5555;
    font-size: 20px;
}

.rightbar a img {
    width: 100%;
    border-radius: 10px;
    height: 190px;
    object-fit: contain;
}


.rightbar a h4 {
    color: #747373;
    font-size: 20px;
}



.cate h2 {
    font-size: 49px;
    color: #1875BC;
}

.rightbar a img:hover {
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.top {
    border-bottom: 1px solid #e5e5e5;
}

.top h5 {
    color: #2c2a2a;
}

.top p .fa-star {
    color: #FA9748;
}

.top a {
    color: #55cb4e;
    font-size: 18px;
}

.down h5 {
    color: #2c2a2a;
}

.down h2 {
    color: #000;
}

.subcat .swiper {
    width: 100%;
    height: 100%;
}

.subcat .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: r;
}

.subcat .swiper-slide a img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.subcat .down .avatarr {
    color: #000;
    position: relative;
    font-size: 1rem !important;
}

.subcat .down .avatarr img {
    width: 2rem !important;
    border-radius: 50%;
    height: 2rem;
    object-fit: cover;
    display: inline !important;
}


.subcat .down .desc a{
    color: #222325;
      word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subcat .card {
    overflow: hidden;
    max-width: 280px;
}


.subcat .card img {
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.str span {
    color: #FCBE5B;
    font-size: .75em;
}

.options-icons {
    font-size: .875em;
}

.subcat .down  .fa-heart:hover {
    color: #ed9b9b !important;
}

.subcat .down .fa-share:hover {
    color: #1875BC !important;
}

.subcat .down .bar {
    color: #b5b6ba;
    /*border-top: 1px solid #DFDFDF;*/
}
.subcat .down:hover .desc a{
    color: #1875BC;
}
.subcat .down .bar a {
    color: #fff;
    border-top-left-radius: 0;
    background-color: #1875BC;
    border-top-right-radius: 0;
}

.subcat  .fa-heart{
    color: #C5C5C5;
}

.subcat .down .bar a:hover {
    color: #fff !important;
    background-color: rgba(25, 66, 117, 0.9);
}
.subcat .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.subcat .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.subcat .service-description {
    color: #6a6a72;
    line-height: 1;
    font-weight: 400;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding-inline-start: 5px;
    margin-top: 15px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1rem;
}

.section h4.section-title {
    color: #1875BC;
    display: inline-block;
    position: relative;
}


div.scrollmenu {
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #1875BC;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
    text-decoration: none;
    border-bottom: 3px solid #194275;
    transition:.8s;

}
.subcat .dropdown .dropdown-menu {
    width: 400px;

}
.subcat .budget .dropdown-menu {
    width: 100px;
}

.subcat .delivery .dropdown-menu {
    width: 250px;
}
.subcat .dropdown .aa{

    border: 1px solid #c3bebe;
}
.freelancer_video .left h5{
    /*color: #525050;*/
    color: #4d4040;
}
.freelancer_video .left img {
 width: 25px;
}

.freelancer_video {
    padding-bottom: 0.5rem;
    background-color: #e4e4e4;
    /*background-image: linear-gradient(to right, rgb(209 209 209),  #3b88bf, #1D386D);*/
}

.freelancer_video .left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}


.settings-aside-menu a {
    display: inline-block;
    width: 100%;
}

.create-service .section .section-title {
    margin-top: 2.5rem !important;
}

.order-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    max-width: 100%;
}

.card-custom-border {
    border-radius: 3px;
    border: 1px solid #DDDDDD;
}
#orderTabs  .nav-link:hover {
    background-color: #b4cae5;
}
#orderTabs  .nav-link.active {
    color: #ffffff;
    background-color: #1875bc;
    border-color: #dee2e6 #dee2e6 #fff;
}

.summary-row {
    align-items: baseline;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.summary-row .title {
    width: 180px;
    text-transform: capitalize;
}

.amountarea {
    width: 350px;
    max-width: 100%;
}

#orderTabContent .tab-pane {
    min-height: 300px;
}

.breadcrumb-wrapper + nav {
    padding: 10px 5px;
    background-color: #f0f0f0;
    box-shadow: 0 3px 5px rgb(0 0 0 / 24%);
    border-radius: 3px;
}

.breadcrumb-wrapper + nav > ol {
    margin-bottom: 0;
}

.contactForm > .col-md-12 {
    margin-bottom: 1rem;
}

.contactForm label {
    font-size: .875rem;
    margin-bottom: 12px;
}

.orText {
    display: inline !important;
    padding: 0 10px;
    background-color: #fff;
    z-index: 555;
}

.sideline span.orText:before ,
.sideline span.orText:after{
    display: none;
}

.contact-bg {
    background-color: #e9e9e9;
}
@media(max-width: 600px) {
.subcat .swiper-slide a img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

    .subcat .card .btn {
        font-size: 1rem !important;
    }
}


#video_model .modal-dialog {
    max-width: 60%;
    margin: 30px auto;
}
.bagr{
    height: 250px;
    width: 100%;
    background: linear-gradient(55deg,#006ece,#194275);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 80px ;
border-radius: 12px;
color: white;
}
.hed{
    font-weight: 700;
    font-size: 35px;
}
.titl{
    font-size: 25px;
    font-weight: 300;
}
.panel{
height: 500px;
width: 100%;
background: linear-gradient(55deg,#006ece,#194275);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20px;
color: white;
}
.hed2{
    font-weight: 700;
    font-size: 55px;
}
.person-img{
position: relative;

}
.person-span{
    position: absolute;
    right: -18px;
    transform: rotate(50deg);
    top: 130px;
    background-color: white;
    width: 40px;
    height: 61px;
}
.text-blue{
    color: #194275;

}
.boxs-not{
    border-left: 2px solid #006ece;
    border-bottom:1px dashed rgb(221, 221, 221) ;
}
.boxs-not:hover{
    border-left: 2px dashed #006ece;
    box-shadow: 0 2px 5px 0 rgba(193,200,207,0.3)!important;
}
.ab-shadow{
    box-shadow: 0 2px 2px 0 rgba(193,200,207,0.1)!important;

}