.navdownlist {
    border-top: 1px solid #e5e7ed;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #e5e7ed;
}

.dropdow {
    display: none;
    min-width: 350px;
}

.dropdow a {
    color: #636566;
}

.navdownlist .ss {
    position: relative;
}

.navdownlist .ss:hover {
    border-bottom: 2px solid #194276;
}

.box:hover .box-image img {
    padding-bottom: 10px;
    border-bottom: 1px solid #1875BC;
}

.navbar .blue {
    display: none;
}

.navbar .nav-menu-start .nav-item .nav-link {
    color: #fff;
}

.subcatigory .swiper {
    width: 100%;
    height: 100%;
}

.subcatigory .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: r;
}

.subcatigory .swiper-slide a img {
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.subcatigory .swiper-slide a {
    position: relative;
}

.subcatigory .swiper-slide a h4 {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0;
    color: #fff;
    font-size: 32px;
    padding: 16px;
    text-align: left;
}

.subcatigory .swiper-slide a h4 small {
    font-size: 16px;
}

.subcatigory .swiper-slide a img:hover {
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.subcatigory .swiper-button-next,
.subcatigory .swiper-button-prev {
    background: #fff;
    color: #1875bc;
    border-radius: 50%;
    padding: 24px;
    font-size: 10px z-index: 99;
}

.subcatigory .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 25px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.subcatigory .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 25px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.leftbar .active_main a {
    color: #323030;
    font-size: 24px;
}

.leftbar .listitem a {
    color: #5a5555;
    font-size: 20px;
}

.rightbar a img {
    width: 100%;
    border-radius: 10px;
    height: 190px;
}

.rightbar a h4 {
    color: #747373;
    font-size: 20px;
}

.cate h2 {
    font-size: 49px;
    color: #1875BC;
}

.rightbar a img:hover {
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}

.top {
    border-bottom: 1px solid #e5e5e5;
}

.top h5 {
    color: #2c2a2a;
}

.top p .fa-star {
    color: #FA9748;
}

.top a {
    color: #55cb4e;
    font-size: 18px;
}

.down h5 {
    color: #2c2a2a;
}

.down h2 {
    color: #000;
}

.subcat .swiper {
    width: 100%;
    height: 100%;
}

.subcat .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: r;
}

.subcat .swiper-slide a img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.subcat .down .avatarr {
    color: #000;
    position: relative;
    font-size: 1rem !important;
}

.subcat .down .avatarr img {
    width: 3rem !important;
    border-radius: 50%;
    height: 50px;
    width: 3rem !important;
    display: inline !important;
}

.subcat .down a {
    color: #222325;
}

.subcat .down .desc a{
    color: #222325;
      word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.str span {
    color: #FCBE5B;
}

.subcat .down .bar {
    color: #b5b6ba;
    border-top: 1px solid #DFDFDF;
}
.subcat .down:hover .desc a{
    color: #1875BC;
}
.subcat .down .bar a {
    color: #fff;
    background-color:#1875BC ;
}

.subcat  .fa-heart{
    color: #C5C5C5;
}
.subcat .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.subcat .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
div.scrollmenu {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #1875BC;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
    text-decoration: none;
    border-bottom: 3px solid #194275;
    transition:.8s;

}
.subcat .dropdown .dropdown-menu {
    width: 400px;

}
.subcat .budget .dropdown-menu {
    width: 100px;
}

.subcat .delivery .dropdown-menu {
    width: 250px;
}
.subcat .dropdown .aa{

    border: 1px solid #c3bebe;
}
.freelancer_video .left h5{
    color: #525050;
}
.freelancer_video .left img {
 width: 25px;
}


@media(max-width: 600px) {
.subcat .swiper-slide a img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}
