@charset "UTF-8";

body {
    font-family: font-primary, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    /*line-height: 1.7;*/
    color: #707070;
    box-sizing: border-box;
    background-color: #FCFCFC;
    /*padding: 0.5rem 1rem;*/
}

.home_sidebar_header,
.section-banner .sub-header{
    text-align: right;
}

.search-form .btn {
    border-radius: 5px 0 0 5px;
}

.search-form input {
    border-radius: 0 5px 5px 0;
}

.search-form .search-icon {
    left: unset;
    right: 10px;
}

.store-search input.form-control  {
    padding-left: unset;
    padding-right: 35px !important;
}

form .step:not(:last-of-type):after {
    content: "\f053";
    left: 15%;
    right: unset;
}

.custom-dropdown .dropdown-menu:before {
    left: 3%;
    right: unset;
}

@media (min-width: 992px) {
    .custom-dropdown .dropdown-menu:before {
        left: 5.5%;
    }
}

.custom-dropdown .dropdown-menu:after {

    right: unset;
    left: 3%;

}

.partitioned-input-outer .partitioned-input-inner{
    padding-right: 2.75rem;
}

@media (min-width: 992px) {
    .custom-dropdown .dropdown-menu:after {
        left: 3.2%;
    }

    .icons-menu {
        left: 3%;
        right: unset;
    }
}
